<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/trucks">Trucks</a></li>
        <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell </a> </li>
    </ul>
</nav>