/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General styles */
body {
  background-image: url("/images/site/checkerboard.jpg");
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333;
}

nav ul li {
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  align-items: center;
}
#wrapper {
  width: 1000px;
  margin-top: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  border: solid 2px #30adec;
}

nav ul li a:hover {
  background-color: #00aaff;
}
.account-link a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
}

.car-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.car-showcase img {
  max-width: 100%;
  margin-right: 20px;
}

.car-info h3 {
  color: #00aaff;
}

.car-info p {
  margin: 5px 0;
}
.car-info{
  background-color: rgb(252, 250, 252);
}

.button {
  background-color: #00aaff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Car models section */
.more-info {
  margin-top: 40px;
  align-items: left;
}

.more-info h3 {
  align-items: center;

}
.car-models {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
  align-content: left;
}

.model-item {
  background-color: #7197f1;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  
  flex: 1;
  /*min-width: 200px;*/
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));*/
  grid-gap: 10px;
  justify-content: space-between;
  
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 10px;
  }

  .car-showcase {
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 5px;
  }

  .car-showcase img {
      margin: 0;
      margin-bottom: 20px;
      margin-right: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 10px;
  }

  .car-models {
      flex-direction: column;
      grid-template-columns: repeat(2, 2fr);
  }

  .model-item {
      margin-bottom: 20px;
  }
}

.more-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.reviews {
    margin-top: 40px;
    flex-wrap: wrap;
    
}

.reviews ul {
    padding: 0;
}

.reviews ul li {
    margin-bottom: 10px;
}